@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');


html {
    scroll-behavior: smooth;
    font-family: 'Playfair Display', sans-serif;
    margin: 0px auto;
    padding: 0;
    width: 1280px;
    min-width: 762px;
    max-width: 1280px;
}
a {
    text-decoration: none;
    font-size:1em;
    color: grey;
}

.top-menu-header {
    font-family: sans-serif;
    width: 1280px;
    list-style: none;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #D3D7CFFF;
    padding: 0;  
}
.top-menu-header li {
    font-size:12px;
    display: inline;
    margin: 4px;
    padding: 4px;
    text-transform: uppercase;
}
.top-menu-header li a {
    color: grey;
}

.top-menu-header li a.first-link {
    color: #A40000FF;
}
.top-menu-header li a:hover {
    color: #5C3566FF;
    transition: 0.25s;
}



.main {
    width: 1280px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.main .main-logo a h1 {
    font-family: 'Playfair Display';
    color: black;
    text-align:center;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 2.7em;
    font-weight: 575;
    
}

.main .main-logo h4 {
    font-family: 'Playfair Display';
    font-family: Arial;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 0.7em;
    margin: -7px 0px 8px 0px;
}

.right-header {
    display: flex;
}

.main .language {
    margin-right: 5px; 
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    height: 40px;
    width: 80px;
    border: 1px solid #D3D7CFFF;
}


.main .language a {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

.main .language a .active-language {
    color:  #A40000FF;
}

.main .language a .inner-language {
    display: inline-block;
    margin: 10px 0 0;
    padding: 0 0 5px;
}

.main .language a:hover {
    color: #5C3566FF;
}

.main .search {
    height: 40px;
    width: 40px;
    border: 1px solid #D3D7CFFF;
}
.main .search img {
    opacity: 0.8;
    display: inline-block;
    height: 30px;
    margin: 5px 0 0;
    padding: 0 0 5px;
}


.top-social {
    display: flex;
}

.item-fb {
    height: 40px;
    width: 40px;
    border: 1px solid #D3D7CFFF;
}
.item-fb img {
    opacity: 0.6;
    display: inline-block;
    height: 25px;
    margin: 5px 0 0;
    padding: 0 0 5px;    
}

.item-tw {
    margin: 0px 5px 0px 5px;
    height: 40px;
    width: 40px;
    border: 1px solid #D3D7CFFF;
}
.item-tw img {
    opacity: 1.5;
    display: inline-block;
    height: 30px;
    margin: 5px 0 0;
    padding: 0 0 5px;
}

.item-tg {
    height: 40px;
    width: 40px;
    border: 1px solid #D3D7CFFF;
}
.item-tg img {
    opacity: 0.8;
    display: inline-block;
    height: 30px;
    margin: 5px 0 0;
    padding: 0 0 5px;
}

.bottom-menu-header {
    font-family: sans-serif;
    width: 1280px;
    list-style: none;
    padding-bottom: 10px;
    text-align: center;
    border-top: 1px solid #D3D7CFFF;
    padding: 0;  
}
.bottom-menu-header li {
    font-size:12px;
    display: inline;
    margin: 4px;
    padding: 4px;
    text-transform: uppercase;
}
.bottom-menu-header li a {
    color: grey;
}

.bottom-menu-header li a.first-link {
    color: #A40000FF;
}
.bottom-menu-header li a:hover {
    color: #5C3566FF;
    transition: 0.25s;
}
.bottom-menu-header .podcasts {
    color: #A40000FF;
    font-weight: 900;
}

.main-slider {
    width: 1280px;
    height: 155px;
    background: #333;
    border-top: 5px solid #A40000FF;
    display: flex;
}

.main-slider .slider-article a h4 {
    float: right;
    width: 153px;
    height: 88px;
    margin-left: 10px;
    color: white;
    border-right: 1px solid grey;
    font-weight: 675;
}


.main-slider .slider-article a img {
    margin-top: 30px;
    margin-left: 60px;
}

.main-slider .button {
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid grey;
    margin: 50px 0px 0px 100px;
}
.main-slider .button:last-child {
    margin-left: -1px;
}

.main-slider .button img {
    height: 40px;
    opacity: 0.3;
}

.main-slider .button #first {
  transform: rotate(180deg); 
}

.copyright {
    width: 1280px;
    background: #333;
    border-top: 5px solid #A40000FF;
    color: white;
}
.copyright div{
    margin: 25px;
}
.copyright div p {
    display: inline-block;;
    font-size: 12px;
}
.copyright .interfax {
    float: right;
}
.copyright div p a img {
    padding: 0px 15px 0px 0px;
}
.copyright .obrt {

}

footer {
    display: flex;
    margin-top:100px;
    height: 303px;
    width: 1280px;
    background: #333;
    border-top: 1px solid grey;
    color: white;
}

footer img {
    margin: 25px;
}

footer .contacts {
    font-family: sans-serif;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
    margin-top: 50px;
}

footer .footer-info {
    font-family: sans-serif;
    font-size: 14px;
    display: inline-block;
    margin: 15px 0px 0px 75px;
}
footer .footer-info p {
    width: 200px;
    font-size: 12px;
}
footer .footer-info p a {
    color: white;
}

footer .footer-social {
    display: flex;
}


footer .footer-social a {
    display: inline-block;
    width: 80px;
    height: 48px;
    border: 1px solid grey;
    margin: 100px 10px 10px 80px;
}


footer .footer-social a img {
    height: 30px;
    margin: 8px 5px 5px 25px;
    padding: 0 0 5px;
}